USE [master]
GO
/****** Object:  Database [ELearning]    Script Date: 7/28/2020 10:56:34 PM ******/
CREATE DATABASE [ELearning]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ELearning', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ELearning.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ELearning_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ELearning_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ELearning].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ELearning]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/28/2020 10:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 7/28/2020 10:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[LectureId] [int] NOT NULL,
	[ReplyId] [int] NULL,
 CONSTRAINT [PK_dbo.Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/28/2020 10:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LanguageId] [varchar](2) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Image] [varchar](250) NULL,
	[Description] [nvarchar](300) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Benefits] [nvarchar](1000) NULL,
	[Requirements] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[TopHot] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 7/28/2020 10:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[UrlDocument] [varchar](5000) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Document] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecture]    Script Date: 7/28/2020 10:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecture](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](50) NOT NULL,
	[UrlVideo] [varchar](250) NOT NULL,
	[TimeVideo] [float] NOT NULL,
	[IsTest] [bit] NOT NULL,
	[FileTest] [nvarchar](max) NULL,
	[TestTitle] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Lecture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 7/28/2020 10:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Point] [float] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Rating] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/28/2020 10:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSubject]    Script Date: 7/28/2020 10:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSubject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ApproveName] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.StudentSubject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTest]    Script Date: 7/28/2020 10:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileAnswer] [varchar](250) NULL,
	[ReplyFile] [varchar](250) NULL,
	[Point] [real] NULL,
	[Email] [varchar](250) NOT NULL,
	[LectureId] [int] NOT NULL,
	[Username] [varchar](50) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.StudentTest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/28/2020 10:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Image] [varchar](250) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](50) NOT NULL,
	[NumberStudent] [int] NOT NULL,
	[MaxStudent] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_dbo.Subject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSubject]    Script Date: 7/28/2020 10:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSubject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[StartTime] [date] NOT NULL,
	[FinishTime] [date] NULL,
 CONSTRAINT [PK_dbo.TeacherSubject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/28/2020 10:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
	[RoleId] [int] NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[Phone] [varchar](50) NULL,
	[IsLocked] [bit] NOT NULL,
	[LinkAvata] [varchar](250) NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [int] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Id], [Content], [Time], [Status], [Username], [LectureId], [ReplyId]) VALUES (1, N'Tạm vậy', CAST(N'2020-06-24T22:52:50.487' AS DateTime), 1, N'Nhung99', 17, NULL)
SET IDENTITY_INSERT [dbo].[Comment] OFF
SET IDENTITY_INSERT [dbo].[Course] ON 

SET IDENTITY_INSERT [dbo].[Course] OFF
SET IDENTITY_INSERT [dbo].[Document] ON 

INSERT [dbo].[Document] ([Id], [Name], [UrlDocument], [SubjectId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'Các phép toán tập hợp', N'/FileUploads/files/Document/Campaign.docx', 1, CAST(N'2020-03-22T13:21:37.777' AS DateTime), N'Thùy Linh', CAST(N'2020-03-22T13:21:37.803' AS DateTime), N'Thùy Linh')
SET IDENTITY_INSERT [dbo].[Document] OFF
SET IDENTITY_INSERT [dbo].[Lecture] ON 

INSERT [dbo].[Lecture] ([Id], [Name], [SubjectId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [UrlVideo], [TimeVideo], [IsTest], [FileTest], [TestTitle]) VALUES (1, N' Bài 1: Tạo chương trình javascript đầu tiên', 1, CAST(N'2020-02-22T17:25:22.960' AS DateTime), N'Thùy Linh', CAST(N'2020-06-23T22:10:49.540' AS DateTime), N'Qu?n Tr?', N'https://cdn.jwplayer.com/players/64L7PCMQ-ruGo2kE5.js', 17.368526, 1, N'/FileUploads/files/06_NguyenVanBao_19.docx', N'Kiểm tra 15p')
INSERT [dbo].[Lecture] ([Id], [Name], [SubjectId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [UrlVideo], [TimeVideo], [IsTest], [FileTest], [TestTitle]) VALUES (2, N' Bài 2: Tạo chương trình javascript đầu tiên', 1, CAST(N'2020-02-22T17:25:22.960' AS DateTime), N'Thùy Linh', CAST(N'2020-02-22T17:25:22.960' AS DateTime), N'Thùy Linh', N'/FileUploads/files/2020-02-10_18-40-46.mp4', 17.368526, 0, NULL, NULL)
INSERT [dbo].[Lecture] ([Id], [Name], [SubjectId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [UrlVideo], [TimeVideo], [IsTest], [FileTest], [TestTitle]) VALUES (3, N' Bài 3: Tạo chương trình javascript đầu tiên', 1, CAST(N'2020-02-22T17:25:22.960' AS DateTime), N'Thùy Linh', CAST(N'2020-02-22T17:25:22.960' AS DateTime), N'Thùy Linh', N'/FileUploads/files/2020-02-10_18-40-46.mp4', 17.368526, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Lecture] OFF
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([Id], [Point], [Username], [CourseId]) VALUES (26, 4, N'Nhung99', 3)
INSERT [dbo].[Rating] ([Id], [Point], [Username], [CourseId]) VALUES (27, 4.5, N'Nhung99', 14)
SET IDENTITY_INSERT [dbo].[Rating] OFF
INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Admin')
SET IDENTITY_INSERT [dbo].[StudentSubject] ON 

INSERT [dbo].[StudentSubject] ([Id], [Username], [SubjectId], [Status], [CreatedDate], [ApproveName]) VALUES (2, N'Cong Thang', 71, 1, CAST(N'2020-02-20T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[StudentSubject] ([Id], [Username], [SubjectId], [Status], [CreatedDate], [ApproveName]) VALUES (4, N'Diem My', 71, 1, CAST(N'2020-02-02T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[StudentSubject] ([Id], [Username], [SubjectId], [Status], [CreatedDate], [ApproveName]) VALUES (5, N'Do', 71, 1, CAST(N'2020-02-02T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[StudentSubject] OFF
SET IDENTITY_INSERT [dbo].[StudentTest] ON 

INSERT [dbo].[StudentTest] ([Id], [FileAnswer], [ReplyFile], [Point], [Email], [LectureId], [Username], [Status]) VALUES (1, N'/FileUploads/files/test/Nhung_20200623222246379.docx', N'/FileUploads/files/06_NguyenVanBao_19.docx', 8, N'thuylinhnd97@gmail.com', 1, N'Nhung99', 0)
SET IDENTITY_INSERT [dbo].[StudentTest] OFF
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([Id], [Name], [Content], [Image], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [NumberStudent], [MaxStudent], [CourseId], [Status], [Description]) VALUES (3, N'Hóa học bản 10', N'<p>mm</p>
', N'/FileUploads/images/avatar_subject/hh10.png', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'admin', CAST(N'2020-03-21T22:13:36.110' AS DateTime), N'Thùy Linh', 30, 50, 3, 1, N'Hóa học cơ bản lớp 10')
SET IDENTITY_INSERT [dbo].[Subject] OFF
SET IDENTITY_INSERT [dbo].[TeacherSubject] ON 

INSERT [dbo].[TeacherSubject] ([Id], [Username], [SubjectId], [StartTime], [FinishTime]) VALUES (1, N'Diem My', 1, CAST(N'2020-02-02' AS Date), NULL)
INSERT [dbo].[TeacherSubject] ([Id], [Username], [SubjectId], [StartTime], [FinishTime]) VALUES (3, N'Diem My', 10, CAST(N'2020-02-02' AS Date), NULL)
INSERT [dbo].[TeacherSubject] ([Id], [Username], [SubjectId], [StartTime], [FinishTime]) VALUES (4, N'Diem My', 16, CAST(N'2020-02-02' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[TeacherSubject] OFF
INSERT [dbo].[User] ([Username], [Password], [Status], [RoleId], [FullName], [Email], [Phone], [IsLocked], [LinkAvata], [DateOfBirth], [Gender]) VALUES (N'admin', N'QUbfHrxLK0muGx2imsJH9vdbeEHDvmlS', 1, 1, N'Quản Trị', N'uim89127@zzrgg.com', N'0973 642 032', 0, N'/FileUploads/images/28618678.png', CAST(N'1997-01-01' AS Date), 0)
INSERT [dbo].[User] ([Username], [Password], [Status], [RoleId], [FullName], [Email], [Phone], [IsLocked], [LinkAvata], [DateOfBirth], [Gender]) VALUES (N'An', N'NPtSPlXe7tWuGx2imsJH9vdbeEHDvmlS', 1, 2, N'Nguyễn Văn An', N'an@gmail.com', N'0967975550', 0, N'/FileUploads/images/3.png', CAST(N'1997-11-11' AS Date), 0)
INSERT [dbo].[User] ([Username], [Password], [Status], [RoleId], [FullName], [Email], [Phone], [IsLocked], [LinkAvata], [DateOfBirth], [Gender]) VALUES (N'Cong Thang', N'QUbfHrxLK0muGx2imsJH9vdbeEHDvmlS', 1, 3, N'Nguyễn Công Thắng', N'thang@gmail.com', N'0967975530', 1, NULL, CAST(N'1997-03-02' AS Date), 1)
/****** Object:  Index [IX_LectureId]    Script Date: 7/28/2020 10:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_LectureId] ON [dbo].[Comment]
(
	[LectureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Username]    Script Date: 7/28/2020 10:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Username] ON [dbo].[Comment]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectId]    Script Date: 7/28/2020 10:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectId] ON [dbo].[Document]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectId]    Script Date: 7/28/2020 10:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectId] ON [dbo].[Lecture]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 7/28/2020 10:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[Rating]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectId]    Script Date: 7/28/2020 10:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectId] ON [dbo].[StudentSubject]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Username]    Script Date: 7/28/2020 10:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Username] ON [dbo].[StudentSubject]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LectureId]    Script Date: 7/28/2020 10:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_LectureId] ON [dbo].[StudentTest]
(
	[LectureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Username]    Script Date: 7/28/2020 10:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Username] ON [dbo].[StudentTest]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 7/28/2020 10:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[Subject]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectId]    Script Date: 7/28/2020 10:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectId] ON [dbo].[TeacherSubject]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Username]    Script Date: 7/28/2020 10:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Username] ON [dbo].[TeacherSubject]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lecture] ADD  DEFAULT ((0)) FOR [IsTest]
GO
ALTER TABLE [dbo].[StudentTest] ADD  DEFAULT ((0)) FOR [LectureId]
GO
ALTER TABLE [dbo].[StudentTest] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Lecture_LectureId] FOREIGN KEY([LectureId])
REFERENCES [dbo].[Lecture] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Lecture_LectureId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.User_Username] FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.User_Username]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Document_dbo.Subject_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_dbo.Document_dbo.Subject_SubjectId]
GO
ALTER TABLE [dbo].[Lecture]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lecture_dbo.Subject_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[Lecture] CHECK CONSTRAINT [FK_dbo.Lecture_dbo.Subject_SubjectId]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rating_dbo.Course_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_dbo.Rating_dbo.Course_CourseId]
GO
ALTER TABLE [dbo].[StudentSubject]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentSubject_dbo.Subject_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[StudentSubject] CHECK CONSTRAINT [FK_dbo.StudentSubject_dbo.Subject_SubjectId]
GO
ALTER TABLE [dbo].[StudentSubject]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentSubject_dbo.User_Username] FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[StudentSubject] CHECK CONSTRAINT [FK_dbo.StudentSubject_dbo.User_Username]
GO
ALTER TABLE [dbo].[StudentTest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentTest_dbo.Lecture_LectureId] FOREIGN KEY([LectureId])
REFERENCES [dbo].[Lecture] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentTest] CHECK CONSTRAINT [FK_dbo.StudentTest_dbo.Lecture_LectureId]
GO
ALTER TABLE [dbo].[StudentTest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentTest_dbo.User_Username] FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[StudentTest] CHECK CONSTRAINT [FK_dbo.StudentTest_dbo.User_Username]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subject_dbo.Course_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_dbo.Subject_dbo.Course_CourseId]
GO
ALTER TABLE [dbo].[TeacherSubject]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TeacherSubject_dbo.Subject_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[TeacherSubject] CHECK CONSTRAINT [FK_dbo.TeacherSubject_dbo.Subject_SubjectId]
GO
ALTER TABLE [dbo].[TeacherSubject]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TeacherSubject_dbo.User_Username] FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[TeacherSubject] CHECK CONSTRAINT [FK_dbo.TeacherSubject_dbo.User_Username]
GO
USE [master]
GO
